/* typography */
@font-face {
    font-family: 'Fraunces';
    src: url(../fonts/Fraunces[SOFT,WONK,opsz,wght].ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
    font-family: 'Fraunces';
    src: url(../fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].ttf) format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }

$font: "Fraunces", serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;

body {
    font-family: $font;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: 1.5;
}

h1 {
    font-family: $display-font;
    font-size: $display-title-size;
    font-weight: $display-weight;
    letter-spacing: $display-spacing;
    font-variation-settings: 'wght' 900, 'opsz' 50, 'soft' 0.4, 'wonk' 0;
    transition: font-variation-settings 500ms;
}

h1:hover {
  letter-spacing: 0.5em;
  font-variation-settings: "wght" 900, "opsz" 144, "soft" 0.4, "wonk" 0, "WONK" 0, "SOFT" 0;
  background: linear-gradient(to right, #187f68, #2ccbad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__desc {
    font-family: $font;
    font-size: 1rem;
    line-height: 1.5;
    font-variation-settings: 'wght' 400, 'opsz' 9, 'soft' 0.1, 'wonk' 0;
    transition: font-variation-settings 500ms;
}

.header__desc:hover {
    font-variation-settings:'wght' 100, 'opsz' 9, 'soft' 0, 'wonk' 0;
  }

.header__desc--first {
    font-family: $font;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 0.15em;
    font-variation-settings: 'wght' 100, 'opsz' 80, 'soft' 0, 'wonk' 1;
    transition: font-variation-settings 500ms;
}

.header__desc--first:hover {
    font-variation-settings:'wght' 400, 'opsz' 80, 'soft' 0, 'wonk' 0;
  }
