/* typography */
@font-face {
    font-family: 'Fraunces';
    src: url('/fonts/Fraunces[SOFT,WONK,opsz,wght].ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Fraunces';
    src: url('/fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }

$font: "Fraunces", serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;

body {
    font-family: $font;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: 1.5;
  }

h1 {
    font-family: $display-font;
    font-size: $display-title-size;
    font-weight: $display-weight;
    letter-spacing: $display-spacing;
    font-variation-settings: 'wght' 900, 'opsz' 50, 'soft' 0.4, 'wonk' 0;
  }
  
  p {
    font-family: $font;
    font-size: 1rem;
    line-height: 1.8;
    font-variation-settings: 'wght' 400, 'opsz' 9, 'soft' 0.1, 'wonk' 0;
  }
  
  p.italic {
    font-family: $font;
    font-style: italic;
    font-weight: $body-italic-weight;
    font-variation-settings: 'wght' 100, 'opsz' 140, 'soft' 0, 'wonk' 1;
  }
  
